<h1>Listing good_things</h1>
<p id="notice"><%= notice %></p>
<%= link_to 'New Good thing', new_good_thing_path %>
<table id="good_things">
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th></th>
  </tr>

<% @good_things.each do |good_thing| %>
  <tr>
    <td id="name"><%= link_to good_thing.name, done_good_thing_path(good_thing), :method => :post %></td>
    <td id="count"><%= number_with_delimiter good_thing.count %></td>
    <td id="destroy"><%= link_to 'Destroy', good_thing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
