<h1>Listing good_things</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @good_things.each do |good_thing| %>
  <tr>
    <td><%= good_thing.name %></td>
    <td><%= good_thing.count %></td>
    <td><%= link_to 'Show', good_thing %></td>
    <td><%= link_to 'Edit', edit_good_thing_path(good_thing) %></td>
    <td><%= link_to 'Destroy', good_thing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Good thing', new_good_thing_path %>
