<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @good_thing.name %>
</p>

<p>
  <b>Count:</b>
  <%= @good_thing.count %>
</p>


<%= link_to 'Edit', edit_good_thing_path(@good_thing) %> |
<%= link_to 'Back', good_things_path %>
