<!DOCTYPE html>
<html>
<head>
  <title>GoodThings</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="main">
    <%= render 'shared/header' %>
    <div id="contents">
      <div id="notice">
        <%= flash[:plzsign] if flash[:plzsign] %>
      </div>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
